@media (max-width: 1200px) {
    footer {
        grid-template-columns: auto auto auto;
    }

}

@media (max-width: 950px) {
    footer {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            "agriculture"
            "social-media"
            "support"
            "contact"
            "copyright";
        place-items: center;
        padding: 60px 30px 20px 30px;
    }

    .social-media-container {
        place-self: center;
    }

    .support-content {
        padding-bottom: 90px;
        min-width: 350px;
        place-self: center;
    }

    .contact-content {
        padding-bottom: 90px;
        min-width: 350px;
        place-self: center;
    }
}

@media (max-width: 500px) {
    footer{
        padding: 60px 10px 20px 10px;
    }

    .meaning-of-agriculture__title {
        font-size: 1.9rem;
    }

    .meaning-of-agriculture__text {
        font-size: 1.1rem;
    }

    .support__title,
    .contact__title {
        font-size: 1.5rem;
    }

    .support__links,
    .contact {
        font-size: 1rem;
    }

    .social-media-container {
        padding-bottom: 60px;
    }

    .support-content {
        padding-bottom: 60px;
        min-height: 0;
        place-self: start;
    }

    .contact-content {
        min-height: 0;
        place-self: start;
    }

    .meaning-of-agriculture-content{
        place-self: start;
        width: 100%;
    }

    .copyright {
        font-size: 0.9rem;
    }
}