#founders{
    background-color: #EAEAEA;
    padding: 100px 85px;
}

.founders-content{
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-around;
}

.founder__image{
    width: 300px;
    height: 300px;
    border-radius: 300px;
    transition: 0.6s ease-out;
    box-shadow: 1px 1px 15px #717171;
    margin-bottom: 20px;
}

.founder__image:hover{
    transform: scale(1.1);
}

.founder-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.founder__name{
    font-size: 1.875rem;
}

.founder__office{
    font-size: 1.563rem;
}

.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.social{
    color: var(--section-background-color);
    font-size: 1.7rem;
    height: 55px;
    width: 55px;
    border-radius: 200px;
    border: 2px solid var(--section-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 400ms ease-in-out;
    cursor: pointer;
}

.social:hover {
    background-color: var(--section-background-color);
    color:#EAEAEA ;
    transform: scale(1.2);
}


@media (max-width: 730px){
.founders-title{
     font-size: 2.1rem;
    text-align: center;
} 
   
}
@media (max-width: 500px){
    #founders{
        background-color: #EAEAEA;
        padding: 70px 40px;
    }

    .founder__name{
        font-size: 1.7rem;
    }

    .founder__office {
        font-size: 1.4rem;
    }

    .founders-content{
        gap: 60px;
        padding-top: 70px;
    }

    .founder__image{
        width: 250px;
        height: 250px;
        margin-bottom: 5px;
    }
}