@media (max-width: 1120px) {
    .navigations {
        font-size: 1rem;
    }

    .caption-home {
        max-width: 45vw;
    }
}

@media (max-width: 970px) {
    body{
        overflow-x: hidden;
    }
    header {
        padding: 30px 60px;
    }

    .navigations {
        position: absolute;
        top: 100px;
        left: 0;
        width: 60vw;
        height: 88vh;
        background-color: rgb(255, 255, 255);
        /* filter: blur(2px); */
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in;
    }

    .navigations .navigation a{
        color: #000;
    }

    .navigation{
        margin-left: 0;
        /* opacity: 0; */
    }

    .mobile-menu{
        display: block;
    }

    .content-presenting-company {
        padding: 250px 60px 15px 60px;
    }

    .title-home {
        font-size: 3.74rem;
        
    }

    .caption-home {
        font-size: 1.8rem;
    }
}

.navigations.active{
    transform: translateX(0);
    height: 88.8vh;
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2{
    opacity: 0;
}
.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}

@media (max-height: 760px) {
    .content-presenting-company {
        padding: 150px 30px 50px 30px;
    }
}


@media (max-width: 590px) {
    .content-presenting-company {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .caption-home {
        max-width: 70vw;
        text-align: center;
        font-size: 1.5rem;
    }

    .title-home{
        text-align: center;
    }
}


@media (max-width: 500px) {
    header {
        padding: 20px 20px;
    }

    .sign-up__button {
        display: none;
    }
}


@media (max-width: 400px) {
    .navigations.active {
        height: 85vh;
    }

    .title-home {
        font-size: 3.2rem;
        width: 220px;
    }

    .caption-home {
    
        width: 100vw;
       
    }

    .know-more-home__button {
        width: 190px;
    }
}

