#who-we-are {
  display: flex;
  /* justify-content: center; */
  /* gap: 90px; */
}

.who-we-are__title{
  font-family: 'Montserrat';
  font-weight: bold;
  padding-bottom: 15px;
}

.who-we-are-content {
  padding: 50px 85px 0 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;

}

.who-we-are__text {
  font-size: 1.55rem;
}


.who-we-are__image{
  height: 100vh;
  width: 100%;
  border-radius: 0 10px 10px 0;
}

.who-we-are-images{
  height: 100vh;
  width: 50%;
  border-radius: 0 10px 10px 0;
}

.who-we-are__container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.economicamente, .responsabilidade{
  height: 190px;
  width: 190px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.responsabilidade{
  border: 1px solid #B5AAAA;
 
}



.icon-pontas{
  color: #b25f30;
  font-size: 1.7rem;
}

.sustentabilidade__text{
  font-size: 0.8rem;
  font-family: 'Montserrat';
  font-weight: 600;
  text-transform: uppercase;
  width: 80%;
  text-align: center;
}

.economicamente__text{
  font-size: 0.8rem;
  font-family: 'Montserrat';
  font-weight: 600;
  text-transform: uppercase;
  width: 80%;
  text-align: center;

}

.icon-center{
  font-size: 1.7rem;
}

.economicamente{
  background-color: #b25f30;
  color: #fff;
  
}

.sustentabilidade__title{
  font-size: 1.8rem;
  font-family: 'montserrat';
  text-transform: uppercase;
  color: #408d7b;

}

.sustentabilidade{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.content-circles{
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

