footer {
  width: 100%;
}

footer {
  padding: 30px 100px 20px 100px;
  background-color: var(--title-color);
  color: white;
}

.meaning-of-agriculture-content {
  grid-area: agriculture;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.copyright {
  grid-area: copyright;
  text-align: center;
  border-top: 1px solid #fff;
  padding-top: 20px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
}

.contact__title,
.support__title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
}

.support__link,
.contact {
  color: #fff;
  font-size: 1.1rem;
}

.social-media__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
