.administrator__title-icon{
    display: flex;
    align-items: center;
    gap: 30px;
}

.administrator__icon{
    font-size: 1.5rem;
    cursor: pointer;
}

input{
    border: 0;
    padding: 5px;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}

.input__click{
    border: 1px solid #d1d1d1;
    background-color: #ededed;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 