.none {
  display: none !important;
  opacity: 0 !important;
  height: 0 !important;
  transition: opacity 1s, height 1s;
}

.block {
  display: block !important;
  opacity: 1;
}

.flex {
  display: flex !important;
  opacity: 1;
}

.grid {
  display: grid !important;
  opacity: 1;
  height: auto;
}

.hidden {
  visibility: hidden !important;
  opacity: 1;
}
