.side-nav {
  padding: 30px 0 30px 0;
  display: none;
  justify-items: center;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "close"
    "administrator"
    "nav"
    "logout";
  gap: 40px;
  height: 100%;
  box-shadow: 3px 4px 15px #d6d6d6;
  width: 400px;
  max-height: 100vh;
  
}

.close__button {
  grid-area: close;
  place-self: start start;
  padding-left: 36px;
}

.profile-administrator-content {
  grid-area: administrator;
}

.profile-administrator-content a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.profile_administrator__name {
  font-weight: 600;
  font-size: 1.25rem;
}

.profile_administrator__image {
  width: 80px;
  height: 80px;
}

.navigation {
  grid-area: nav;
  width: 100%;
  padding: 70px 30px 0 30px;
}

.navigation-fields-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.navigation-field__name {
  font-weight: 500;
  font-size: 1.25rem;
}

.navigation-field {
  gap: 22px;
  align-items: center;
  min-height: 58px;
  display: flex;
}

.navigation-field a {
  display: flex;
  align-items: center;
  gap: 22px;
  height: 58px;
  border-radius: 10px;
  transition: all 400ms ease-in-out;
}

.navigation-field a:hover {
  background-color: rgba(64, 141, 123, 0.4);
  padding-left: 20px;
}

.navigation-field-list {
  align-items: center;
  min-height: 58px;
  display: grid;
  grid-template-areas: 
  "icon title arrow"
  ". list list";
  cursor: pointer;
}

.navigation-field-list img {
  grid-area: icon;
}

.submenu {
  grid-area: list;
}

.navigation-field-list .navigation-field__name {
  grid-area: title;
}

.navigation-field-list i {
  grid-area: arrow;
  display: flex;
  align-items: center;
  gap: 22px;
  height: 58px;
  border-radius: 10px;
  transition: all 400ms ease-in-out;
}

.navigation-field-list a {
  display: flex;
  align-items: center;
  gap: 22px;
  height: 58px;
  border-radius: 10px;
  transition: all 400ms ease-in-out;
}

.navigation-field-list a:hover {
  background-color: rgba(64, 141, 123, 0.4);
  padding-left: 20px;
}

.log-out-content {
  grid-area: logout;
  display: flex;
  align-items: center;
  gap: 5px;
}

.log-out__button {
  background-color: transparent;
  color: #000;
  width: 140px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25rem;
  border: 0;
  transition: all 400ms ease-in-out;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Montserrat", sans-serif;
}

.log-out__text {
  font-size: 1.25rem;
  font-weight: 600;
}

html ::-webkit-scrollbar {
  width: 10px;
}

html ::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #bbbbbd;
}

html ::-webkit-scrollbar-track {
  background: #ededed;
}
