header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 54px 98px 32px 98px;
  gap: 32px;
}

.volunteer-registration-part-one__title::before {
  content: "Passo 1 de 3";
  display: block;
  font-size: 0.875rem;
  color: #5c5c5c;
  margin-bottom: 30px;
  padding-right: 30px;
  font-family: "Abel";
  text-transform: none;
}

main {
  display: grid;
  justify-items: center;
  gap: 32px;
}

input {
  border-radius: 5px;
  width: 314px;
  height: 46px;
  padding-left: 12px;
  font-family: "Abel";
  font-size: 1.25rem;
}

label {
  font-family: "Montserrat";
  font-weight: 600;
}

.volunteer-registration-part-one-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas:
    "photo photo"
    "full-name date-birth"
    "rg cpf"
    "physical-limitation phone"
    "email ."
    "button button";
  justify-items: center;
  gap: 32px;
}

.form__photo-container {
  grid-area: photo;
  /* margin: 112px auto; */
}

.form__photo-container input[type="file"] {
  display: none;
}

.form__photo-container label {
  padding: 90px 145px;
  background-color: var(--input-background-color);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__photo-container label::after {
  content: "";
}

.form__photo-selected-container {
  grid-area: photo;
  max-width: 300px;
  height: 300px;
  width: 300px;
  max-height: 300px;
}

.photo__photo {
  width: 100%;
  height: 100%; 
  border-radius: 100%;
  overflow: hidden; 
}

.form__full-name-container {
  grid-area: full-name;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.full-name__input {
  background-color: var(--input-background-color);
}

.form__date-birth-container {
  grid-area: date-birth;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.date-birth__input {
  background-color: var(--input-background-color);
}

.form__rg-container {
  grid-area: rg;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.rg__input {
  background-color: var(--input-background-color);
}

.form__cpf-container {
  grid-area: cpf;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.cpf__input {
  background-color: var(--input-background-color);
}

.form__physical-limitation-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  grid-area: physical-limitation;
}

.physical-limitation__select {
  background-color: var(--input-background-color);
  width: 314px;
  height: 46px;
  border-radius: 5px;
  border: 0;
  font-family: "Abel";
  font-size: 1rem;
  padding-left: 12px;
  padding-right: 12px;
}

.physical-limitation__select option {
  background-color: #408d7b;
  color: #fff;
}

.form__phone-container {
  grid-area: phone;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.phone__input {
  background-color: var(--input-background-color);
}

.form__email-container {
  grid-area: email;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.email__input {
  background-color: var(--input-background-color);
}

.volunteer-registration__button {
  grid-area: button;
  width: 160px;
  height: 46px;
  background: #408d7b;
  border-radius: 5px;
  color: #fff;
  font-family: "Abel";
  font-size: 1.125rem;
  cursor: pointer;
  margin-top: 32px;
  margin-bottom: 128px;
}
