@media (max-width: 1200px) {
  .privacy-policy__question {
    padding-right: 20px;
  }
}

@media (max-width: 950px) {
  .privacy-policy__question {
    font-size: 1.6rem;
  }

  .privacy-policy__text {
    font-size: 1.4rem;
  }
}

@media (max-width: 670px) {
  header {
    padding: 54px 60px 0px 60px;
  }

  .privacy-policy__content-text {
    padding: 60px 60px 89px 60px;
  }

  .privacy-policy__title {
    font-size: 1.95rem;
  }

  .return__icon {
    width: 40px;
    height: 40px;
  }

  .privacy-policy-description__text {
    font-size: 1.6rem;
  }

  .privacy-policy__content-text__image {
    width: 75vw;
    height: auto;
  }

  .privacy-policy__question {
    font-size: 1.3rem;
  }

  .privacy-policy {
    padding-bottom: 15px;
  }

  .privacy-policy__text {
    font-size: 1.15rem;
  }

  .privacy-policy-container {
    width: 85vw;
  }
}

@media (max-width: 592px) {
  .privacy-policy-description__text {
    font-size: 1.2rem;
  }

  .privacy-policy__question[data-v-4489ba78] {
    font-size: 1.1rem;
  }

  .privacy-policy__text[data-v-4489ba78] {
    font-size: 1.1rem;
  }

  .privacy-policy__content-text {
    padding: 70px 32px;
  }

  .privacy-policy__title {
    font-size: 1.35rem;
  }

  header {
    padding: 48px 32px 0 32px;
  }

  .plus-sign__icon {
    height: 22px;
    width: 22px;
  }

  .privacy-policy-container{
    gap: 20px;
  }
}

